# =========================================================
# Variables de entorno - copiar a .env y completar
# =========================================================

# PostgreSQL (Usuarios y Recursos)
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=sge_usuarios_recursos
PG_USER=postgres
PG_PASSWORD=tu_password

# Oracle (Gestión Institucional)
ORACLE_USER=sge_user
ORACLE_PASSWORD=tu_password
ORACLE_CONNECT_STRING=localhost:1521/XEPDB1

# Cassandra (Alertas en Tiempo Real)
CASSANDRA_CONTACT_POINTS=127.0.0.1
CASSANDRA_LOCAL_DC=datacenter1
CASSANDRA_KEYSPACE=sge_alertas

# MongoDB (Evidencias Multimedia)
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=sge_evidencias

# App
PORT=4000
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio
